.panel .panel-header {
    padding-top: 12px;
}

.panel .left-col {
    width: 230px;
    text-align: right;
}

.panel .center-col {
    width: 340px;
}

.error-summary li {
    padding-left: 14px;
}

.select.currency {
    width: 100px;
}

.select .ui-selectmenu-text {
    text-align: center;
}

input[type=checkbox] + label:before {
    margin-bottom: 2px;
}

.checkboxList:last-child {
    margin-top: 5px;
}

.checkboxList i.icon {
    margin: 0 7px 2px 4px;
}

#register-action {
    width: 240px;
    margin: 25px 0 10px 0;
}

#acceptAgreement label {
    font-family: pt_serifItalic, serif;
    font-weight: normal;
}

#agreement-block {
    position: relative;
    width: 796px;
    margin: 20px auto 40px;
}

#agreement-block h4 {
    text-align: center;
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

#agreement-block p {
    padding-bottom: 10px;
}

#agreement-text {
    height: 100px;
    overflow: hidden;
}

#agreement-text strong {
    font-family: RobotoBold, sans-serif;
}

#agreement-text ul li {
    list-style: circle;
    margin-left: 15px;
}

#agreement-block .how-be-this {
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
    width: 214px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    border: solid #E7DBD0 2px;
    border-radius: 12px;
    background-color: #FFFFFF;
    z-index: 1;
}

#agreement-block .how-be-this a:focus {
    color: #322C25
}

#agreement-block + .dashed.scissor-right {
    margin-bottom: 50px;
}