.first-line {
    text-align: justify;

    line-height: 0; /* если не сделать, то псевдоэлемент даст высоту приличную */
    font-size: 1px; /* 1px для Opera */
}
.first-line::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}

.first-line .panel {
    font-size: 14px; /* Вернём стандартный размер шрифта*/
}

.first-line .inline-vidget {
    display: inline-block;
}

h4 {
    margin-bottom: 11px;
}

.small-widget h4 {
    text-align: center;
}

.first-line .panel .panel-footer {
    height: 58px;
}

.first-line .panel .panel-footer div:first-child {
    margin-top: 8px;
}

.small-widget .header span {
    font-family: RobotoMedium, sans-serif;
    font-size: 15px;
}

.small-widget .header i.little-star-light {
    margin-top: 1px;
}

#PersonalIndexStudioRating .panel-footer {
    height: 40px;
}

.first-line .panel .panel-body > div:nth-child(2) {
    margin-top: 4px;
}

/* Виджеты пользователя */
.panel .panel-body {
    padding: 0 0 10px 0;
}

#PersonalIndexUserOrders ul li,
#PersonalIndexUserBasket ul li {
    padding: 5px 15px;
}

#PersonalIndexUserOrders ul div,
#PersonalIndexUserBasket ul div {
    display: inline-block;
    vertical-align: middle;
}

#PersonalIndexUserOrders ul li div:first-child {
    margin-right: 14px;
}

#PersonalIndexUserOrders ul li div:nth-child(2) {
    width: 130px;
}

#PersonalIndexUserOrders ul li div:nth-child(3) {
    width: 150px;
}

#PersonalIndexUserOrders ul li div:last-child,
#PersonalIndexUserBasket ul li div:last-child {
    width: 100px;
    text-align: right;
}

#PersonalIndexUserOrders ul li:nth-child(2n),
#PersonalIndexUserBasket ul li:nth-child(2n) {
    background-color: #EADFD7;
}

#PersonalIndexUserOrders .panel-footer div,
#PersonalIndexUserBasket .panel-footer div {
    margin-top: 10px;
}

#PersonalIndexUserOrders p,
#PersonalIndexUserBasket p {
    font-family: RobotoBlack, sans-serif;
    font-size: 28px;
    color: #95938E;
    text-align: center;
    padding: 5px 50px;
}

#PersonalIndexUserBasket ul li div:first-child {
    width: 298px;
}

main > .float:first-child {
    float: left;
    width: 480px;
}

main > .float:last-child {
    float: left;
    width: 220px;
}

#UserRating {
    margin: auto;
}

#UserRating .panel-footer {
    height: 40px;
}

#UserRating .panel-footer div {
    margin-top: 7px;
}

.open-owner-studio {
    text-align: center;
}

.open-owner-studio p {
    font-size: 15px;
    margin: 28px 0 20px;
}

#owner-studio-button {
    width: 140px;
}