menu.over-table {
    margin-top: 13px;
}

menu.over-table li {
    display: inline-block;
    margin-right: 25px;
}

.over-table .dashed-underline {
    font-size: 16px;
    padding-bottom: 3px;
    vertical-align: top;
}

.table-header {
    margin-top: 18px;
}

.table-header > div {
    display: inline-block;
    margin-left: 2px;
}

.table-header > div > div:first-child {
    height: 45px;
    background: #EFE5DC url('../img/diagonal-bg.png');
}

.table-header > div > div:last-child {
    height: 3px;
    background: #EBDFD5 url('../img/diagonal-bg.png');
}

.table-header .number-header {
    width: 310px;
}

.table-header .status-header {
    width: 174px;
}

.table-header .price-header {
    width: 128px;
}

.table-header .date-header {
    width: 80px;
}

.table-header a {
    font-family: RobotoMedium, sans-serif;
    margin: 12px 0 0 14px;
}

.order-list {
    margin-bottom: 45px;
}

.order-list .order-number,
.order-list .photo-wrapper,
.order-list .status-box,
.order-list .price-box,
.order-list .date-box {
    display: inline-block;
    vertical-align: middle;
}

.order-list > li:nth-child(2n) {
    background-color: #F8F0E8;
}

.order-list .order-number {
    /*margin: 16px 0 0 15px;*/
    margin-left: 16px;
    width: 297px;
}

.order-list .studio-name {
    width: 176px;
}

.order-list .studio-name span {
    display: inline-block;
    width: 140px;
    margin-left: 8px;
    vertical-align: middle;
}

.order-list .status-box {
    /*margin: 20px 0 0 6px;*/
    margin-left: 6px;
    width: 171px;
}

.order-list .icon.delete-red {
    margin-bottom: -2px;
}

.order-list .icon.edit {
    margin-bottom: -3px;
}

.order-list .status-box .icon-line {
    margin-top: 3px;
}

.order-list .status-box .edit-status-button {
    position: relative;
}

.order-list .status-box .status-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 8px -20px 0;
    padding: 10px 0;
    background: #FFFFFF;
    border: solid #CFBAAD 1px;
    z-index: 1;
}

.order-list .status-box .status-list li {
    padding: 5px 12px;
    border-bottom: solid #F1EAE6 1px;
}

.order-list .status-box .status-list li:last-child {
    border-bottom: none;
}

.order-list .status-box .status-list .new-status:hover {
    background-color: #EFEAE7;
    cursor: pointer;
}

.order-list .status-box .evaluation {
    margin-top: 15px;
}

.order-list .evaluation .little-star,
.order-list .evaluation .little-star-empty {
    margin: 0 -1px;
}

.order-list .price-box {
    width: 130px;
    /*margin-top: 16px;*/
    padding: 0 2px 0 5px;
    text-align: center;
}

.order-list .date-box {
    width: 80px;
    margin-top: 7px;
    text-align: center;
}

.order-list .main-info {
    border-bottom: solid #EAE6DE 1px;
    padding: 16px 0 14px 0;
}

.order-list .sub-info {
    padding: 14px 0;
}

.order-list .sub-info > div {
    display: inline-block;
    margin-left: 16px;
}

.order-list .sub-info > div:first-child {
    width: 235px;
}

.order-list .sub-info > div:last-child {
    float: right;
    margin-right: 16px;
}

.no-orders {
    margin: 100px auto;
    width: 500px;
    font-family: RobotoBlack, sans-serif;
    font-size: 28px;
    color: #95938E;
    text-align: center;
}

.evaluate-please {
    margin-top: 10px;
    font-family: RobotoBlack, sans-serif;
}

.status-box .evaluation-line span {
    font-size: 13px;
    padding-top: 2px;
}

.status-box .evaluation-line .icon.star,
.status-box .evaluation-line .icon.star-empty {
    margin-right: 2px;
}

.status-box .evaluation-line .icon.little-star,
.status-box .evaluation-line .icon.little-star-empty {
    margin: 0 1px 0 0;
}

/* Оформление формы оценки заказа */
#order-evaluation {
    margin: 10px 0 0 28px;
}

#order-evaluation input[type=radio],
#order-evaluation label {
    cursor: pointer;
}