.info-wrapper {
    position: relative;
}

.info-wrapper .button {
    position: absolute;
    right: 0;
    top: 13px;
    width: 140px;
}

.info-wrapper > ul {
    margin-top: 5px;
}

.info-wrapper > ul > li:nth-child(2n) {
    background-color: #F8F0E8;
}

.info-wrapper > ul > li > div {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    min-height: 33px;
    line-height: 33px;
}

.info-wrapper > ul li > div:first-child {
    font-family: RobotoMedium, sans-serif;
    font-size: 15px;
    padding-left: 22px;
    width: 225px;
}

.info-wrapper > ul li > div:last-child {
    font-size: 15px;
    width: 427px;
    padding-right: 22px;
}



.info-wrapper > ul li > div:first-child small {
    display: inline-block;
    font-family: RobotoLight, sans-serif;
    font-size: 12px;
    line-height: 12px;
}

#user-data + .dashed {
    margin: 38px 0 22px 0;
}

#user-data img {
    border: solid #CFBAAD 1px;
    margin: 10px 0;
}

#user-data .has-photo > div {
    vertical-align: middle;
}

.info-wrapper .sublist {
    margin: 4px 0 7px 0;
}

.info-wrapper .sublist li {
    padding: 1px 0;
}

.info-wrapper:last-child {
    margin-bottom: 45px;
}

#studio-data .icon.store {
    margin-bottom: 0;
}

#studio-data .watch-studio-link {
    padding-left: 21px;
}

#studio-data .button {
    top: 30px;
}