#main-col {
    margin-bottom: 45px;
}

#main-col p {
    margin-top: 15px;
}

#main-col ul li {
    margin: 10px 0 0 30px;
    list-style: square;
}

#main-col strong {
    font-family: RobotoBlack, sans-serif;
}

.good-list {
    margin-top: 10px;
}

#main-col .good-list li {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.good-list li:nth-child(2n) {
    background-color: #F8F0E8;
}

.good-list li .photo-name-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.good-list li .img-link {
    display: inline-block;
    vertical-align: top;
}

.good-list li .img-link img {
    border: solid #BE957B 1px;
}

.good-list li .good-name {
    display: inline-block;
    width: 270px;
    margin-left: 15px;
    vertical-align: top;
    font-size: 16px;
}

.good-list li .last-promotion {
    display: inline-block;
    width: 150px;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 13px;
}

.good-list li .promote-button {
    width: 145px;
    margin-left: 20px;
    vertical-align: middle;
}

#main-col .sloping-line {
    margin-top: 30px;
    height: 14px;
    background: url("../img/sloping-line-bg.png") repeat-x;
}

#no-goods {
    margin: 45px 0;
    font-family: RobotoBlack, sans-serif;
    font-size: 28px;
    color: #95938E;
    text-align: center;
}