#promote-button {
    width: 150px;
}

#main-col {
    margin-bottom: 45px;
}

#main-col p {
    margin-top: 15px;
}

#main-col ul li {
    margin: 10px 0 0 30px;
    list-style: square;
}

#main-col form {
    margin-top: 15px;
}

#main-col strong {
    font-family: RobotoBlack, sans-serif;
}