.order-header {
    margin: 10px 0;
}

.order-header h3,
.comment-header h3,
.contact-header h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 10px;
}

.order-header {
    margin-bottom: 10px;
}

.order-header h3 {
    width: 480px;
}

.status-box {
    display: inline-block;
    width: 172px;
    vertical-align: middle;
}

.panel.order-content {
    padding: 5px 0;
}

.panel-body {
    padding: 0;
}

.panel.order-content .panel-footer {
    text-align: left;
}

.panel.order-content .panel-footer:before {
    margin: 0;
}

.good-list .img-link,
.good-list .name-box,
.good-list .price-box,
.good-list .counter,
.good-list .end-price {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: middle;
}

.good-list li {
    padding: 14px 16px;
}

.good-list li:nth-child(2n) {
    background-color: #F6EDE5;
}

.good-list .img-link {
    width: 48px;
    height: 48px;
    border: solid #BE957B 1px;
}

.good-list .without-photo {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: solid #BE957B 1px;
    box-sizing: content-box;
}

.good-list .name-box {
    width: 250px;
    max-height: 46px;
    margin-left: 12px;
    overflow: hidden;
}

.good-list .price-box {
    width: 96px;
    margin-left: 5px;
    text-align: right;
}

.counter {
    width: 101px;
    margin: 0 20px;
    text-align: center;
}

.counter span:first-child {
    font-family: RobotoMedium, sans-serif;
}

.end-price {
    width: 112px;
    text-align: right;
}

.panel-footer > div {
    display: inline-block;
    vertical-align: top;
}

.panel-footer > div:first-child {
    margin: 8px 0 0 16px;
    width: 450px;
}

.order-summary {
    margin: 15px 16px 0 0;
    width: 200px;
    text-align: right;
}

.order-summary span:first-child {
    font-family: RobotoMedium, sans-serif;
}

.order-summary .rouble-gold,
.sum-info .rouble-gold {
    margin: 0 2px -2px;
}

.order-date {
    margin-bottom: 25px;
}

.order-date span {
    font-family: RobotoMedium, sans-serif;
    margin-left: 3px;
}

.comment-header {
    margin: 25px 0 10px;
}

.comment-panel {
    padding: 20px 25px;
}

.contact-header {
    margin: 30px 0 15px;
}

.contact-info {
    margin-bottom: 50px;
}

.contact-info li {
    padding: 6px 25px;
}

.contact-info li:nth-child(2n) {
    background-color: #F6EDE5;
}

.contact-info .left-col,
.contact-info .right-col {
    display: inline-block;
    font-size: 15px;
}

.contact-info .left-col {
    width: 225px;
    font-family: RobotoMedium, sans-serif;
}

.order-header .status-box .edit-status-button {
    position: relative;
}

.order-header .status-box .status-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 190px;
    margin-top: 8px;
    padding: 10px 0;
    background: #FFFFFF;
    border: solid #CFBAAD 1px;
    z-index: 1;
}

.order-header .status-box .status-list li {
    padding: 5px 12px;
    border-bottom: solid #F1EAE6 1px;
}

.order-header .status-box .status-list li:last-child {
    border-bottom: none;
}

.order-header .status-box .status-list .new-status:hover {
    background-color: #EFEAE7;
    cursor: pointer;
}

.evaluate-please {
    margin-top: 10px;
    font-family: RobotoBlack, sans-serif;
}

.status-box .evaluation-line span {
    font-size: 13px;
    padding-top: 2px;
}

.status-box .evaluation-line .icon.star,
.status-box .evaluation-line .icon.star-empty {
    margin-right: 2px;
}

.status-box .evaluation-line .icon.little-star,
.status-box .evaluation-line .icon.little-star-empty {
    margin: 0 1px 0 0;
}

/* Оформление формы оценки заказа */
#order-evaluation {
    margin: 10px 0 0 28px;
}

#order-evaluation input[type=radio],
#order-evaluation label {
    cursor: pointer;
}