.sloping-line {
    height: 14px;
    background: url('../img/sloping-line-bg.png') repeat-x;
}

h2 span,
h2 span a {
    font-size: 20px;
}

h2 + .sloping-line {
    margin-top: 10px;
}

#dialog-wrapper {
    position: relative;
    height: 550px;
    /*overflow-y: auto;*/
    overflow: hidden;
    /*padding-left: 8px;*/
}

/* Если придется еще где-то размещать плагин Барон, то вынести его стили в отдельный файл и переименовать для более общего назначения */
.dialog-scroller {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border: 0;
}

.scroller__track {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 5px;
    width: 8px;
    background: rgba(0, 0, 255, 0.1) none repeat scroll 0 0;
    border-radius: 5px;
    pointer-events: none;
    z-index: 3;
}
/* По умолчанию прокрутка скрыта */
.scroller__track {
    display: none;
}
/* Если текста больше, то добавляется класс baron, и прокрутка делается видимой */
.baron .scroller__track {
    display: block; /* Visible when scrolling is possible */
}

.scroller__bar { /* The bar. You should define width, right position and background */
    position: absolute;
    right: 0;
    width: 8px;
    background: #987 none repeat scroll 0 0;
    border-radius: 3px;
    opacity: 0.6;
    z-index: 1;
    pointer-events: auto;
    transition: opacity 0.2s linear 0s;
}

#dialog-wrapper .dialog-container {
    padding: 0 13px 0 8px;
}

#dialog-wrapper li {
    margin: 18px 0;
}

.not-messages {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 150px;
    font-family: RobotoBlack, sans-serif;
    font-size: 28px;
    color: #95938E;
    text-align: center;
}

.you .user,
.opponent .user {
    display: inline-block;
    vertical-align: middle;
}

.you .user {
    width: 173px;
    margin-left: 28px;
}

.opponent .user {
    margin-right: 22px;
    max-width: 200px;
}

.you .photo,
.you .info,
.opponent .photo,
.opponent .info {
    display: inline-block;
    vertical-align: top;
}

.you .photo,
.opponent .photo {
    position: relative;
    margin-right: 10px;
}
.you .photo img,
.opponent .photo img {
    box-sizing: content-box;
    border: solid #D3B9AA 1px;
}
.you .photo div,
.opponent .photo div {
    position: absolute;
    top: -8px;
    left: -8px;
}

.opponent .info {
    max-width: 136px;
}

.you .info .name {
    font-family: RobotoMedium, sans-serif;
    margin-bottom: -1px;
}

.you .info time,
.opponent .info time {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
}

#dialog-wrapper .message {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 16px;
    padding: 19px 24px;
}

#dialog-wrapper .opponent .message {
    background-color: #EFE5DC;
    max-width: 449px;
}

#dialog-wrapper .you .message {
    background-color: #FFFFFF;
    max-width: 470px;
}

#dialog-wrapper .message::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    margin: auto;
    border-top: solid transparent 8px;
    border-bottom: solid transparent 8px;
}

#dialog-wrapper .opponent .message::before {
    left: -28px;
    border-right: solid #EFE5DC 14px;
    border-left: solid transparent 14px;
}

#dialog-wrapper .you .message::before {
    right: -28px;
    border-right: solid transparent 14px;
    border-left: solid #FFFFFF 14px;
}

.you-wrapper {
    float: right;
}

main form {
    margin-top: 25px;
}

main form textarea#message-text {
    box-sizing: content-box;
    display: block;
    width: 656px;
    margin: 0 8px;
}

#send-button {
    display: block;
    width: 200px;
    margin: 20px auto 45px;
}

/* Кнопка показать еще */
#show-more {
    text-align: center;
    margin-top: 25px;
}

#show-more-button {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}

#show-more-button:hover {
    color: #FF7F66;
}

#show-more-button span {
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoLight, sans-serif;
    font-size: 24px;
}

#show-more-button .plus-button {
    position: relative;
    width: 36px;
    height: 36px;
    background: #DFC8BB;
    border-radius: 50%;
    margin-right: 5px;
}

#show-more-button .plus-button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 26px;
    height: 2px;
    background: #FDF8F0;
}

#show-more-button .plus-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 26px;
    background: #FDF8F0;
}