.panel .panel-header {
    padding-top: 12px;
    position: relative;
}

.panel .panel-header .emails {
    position: absolute;
    top: 23px;
    right: 20px;
}

.panel .panel-header .emails .icon {
    margin-bottom: -2px;
}

.panel .panel-header .emails span {
    text-decoration: underline;
}

.panel .left-col {
    width: 230px;
    text-align: right;
}

.panel .instruction {
    width: 350px;
    margin: 0 auto 25px;
    padding-left: 25px;
    font-size: 15px;
    text-align: center;
}

.error-summary li {
    padding-left: 14px;
}

#feedback-action {
    width: 210px;
    margin: 25px 0 10px 0;
}