#good-carousel {
    position: relative;
    height: 182px;
    margin: 17px 0 15px;
    background: url('../img/sloping-line-bg.png') repeat-x 0 bottom;
}

#good-carousel .goods-wrapper {
    height: 154px;
    margin: 0 2px;
    padding-top: 4px;
    border-left: solid #CFBAAD 4px;
    border-right: solid #CFBAAD 4px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: content-box;
}

#good-carousel .goods-wrapper a {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 0 4px;
}

#good-carousel img {
    border: solid #CFBAAD 1px;
    box-sizing: content-box;
}

.how-be-this {
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    width: 214px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    border: solid #E7DBD0 2px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.how-be-this > span {
    display: inline-block;
    margin-top: -5px;
}

.how-be-this span span, .how-be-this a {
    font-size: 16px;
    vertical-align: bottom;
}
.how-be-this span span {
    font-size: 20px;
}