#content {
    margin-top: 5px;
}

main {
    margin-bottom: 45px;
}

.breadcrumb {
    margin: 0;
}

aside.left section {
    margin-bottom: 18px;
}

aside.left section h3 {
    margin-bottom: 11px;
}

#studio-section {
    margin-top: 10px;
}

#studio-section ul .icon-circle {
    margin-right: 10px;
}

#studio-section li {
    margin-bottom: 8px;
}

#price-section {
    margin-top: 15px;
}

#price-section .price-inputs label,
#price-section .price-inputs input {
    display: inline-block;
    vertical-align: middle;
}

#price-section .price-inputs label {
    margin: 0 4px;
    font-family: RobotoMedium, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

#price-section .price-inputs label:first-child {
    margin-left: 0;
}

#price-section .price-inputs input {
    width: 74px;
}

#active-category-list {
    border-bottom: solid #D8D4CE 1px;
    margin-bottom: 8px;
    padding-bottom: 6px;
    cursor: default;
}

#active-category-list .delete-red {
    float: right;
    cursor: pointer;
}

#active-category-list .category-wrapper span {
    max-width: 178px;
}

#category-section li {
    margin-bottom: 7px;
}
#category-section li.active span {
    color: #FF7F66;
    cursor: default;
}

#category-section a {
    text-decoration: none;
}

#category-section {
    margin-bottom: 45px;
}

#category-section li {
    position: relative;
}

#category-section li span {
    display: inline-block;
    max-width: 194px;
    line-height: 18px;
}

#active-category-list.hide {
    display: none;
}

#category-section .icon.delete-red {
    /*margin-top: 2px;*/
    /*margin-bottom: 0;*/
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#category-section .category-wrapper {
    display: inline-block;
    vertical-align: middle;
}
#category-section .category-wrapper:hover {
    cursor: pointer;
    color: #FF7F66;
}

.float.right {
    float: right;
    width: 700px;
}

/* Центральная часть */
/*#view-style {*/
    /*float: right;*/
    /*margin: -28px 9px 0 0;*/
/*}*/

#goods-header {
    height: 52px;
    background: #EFE5DC url('../img/diagonal-bg.png');
    margin-top: 12px;
    padding: 6px 8px 0 20px;
}

#goods-header li {
    display: inline-block;
    margin-right: 20px;
}

#goods-header li.bold-underline {
    border-bottom-color: #FF7F66;
}

#goods-header ul {
    margin-top: 8px;
}

#goods-header ul,
#goods-header .sort-type {
    display: inline-block;
    vertical-align: middle;
}

#goods-header .sort-type {
    float: right;
}

#goods-header .sort-type span,
#goods-header .sort-type .select {
    vertical-align: middle;
}

#goods-header .sort-type .select {
    margin-left: 5px;
}

#goods-header .sort-type .select select {
    width: 215px;
}

#count-of-goods {
    margin-top: 6px;
    padding-left: 10px;
}

#goods-wrapper {
    position: relative;
    min-height: 195px;
}

#goods-wrapper.good-tile {
    margin-top: 15px;
    padding: 0 10px;
}

#goods-wrapper .preloader {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
}