main,
aside {
    margin-bottom: 45px;
}

.help-item,
.help-item a {
    font-size: 18px;
}

.help-item {
    margin-top: 20px;
}

.help-item ul li a {
    font-size: 15px;
    color: #FF7F66;
}

.help-item ul li {
    margin-left: 20px;
}

main p {
    margin-top: 15px;
}

.help-body strong {
    font-family: RobotoBold, sans-serif;
}