/* Иконки */
.icon-circle {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    vertical-align: middle;
}

.icon-circle-text {
    text-align: center;
    font-family: RobotoBold, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 34px;
    color: #FFFFFF;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    user-select: none;
    text-decoration: none;
    cursor: default;
}

.icon-circle-text:hover,
.icon-circle-text:active,
.icon-circle-text:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.icon-help {
    background: #9FD245;
    cursor: pointer;
}

.icon-help:before {
    content: '?';
}

.icon-question {
    background: #CFBAAD;
}

.icon-question:before {
    content: '?';
}

.icon-circle.small {
    width: 24px;
    height: 24px;
}

.icon-circle i {
    display: block;
    background: url('../img/circle-group-icons.png') no-repeat;
}

/* Иконки ателье */
.icon-circle.atelier {
    background-color: #FFB800;
}
.icon-circle.atelier i {
    width: 18px;
    height: 18px;
    margin: 7px auto;
}

.icon-circle.atelier.small i {
    width: 14px;
    height: 13px;
    margin: 4px auto;
    background-position: 0 -18px;
}

/* Иконки магазина */
.icon-circle.store {
    background-color: #FF7F66;
}
.icon-circle.store i {
    width: 19px;
    height: 18px;
    margin: 8px;
    background-position: -18px 0;
}

.icon-circle.store.small i {
    width: 13px;
    height: 12px;
    margin: 6px;
    background-position: -14px -18px;
}

/* Иконки персоны */
.icon-circle.person i,
.icon-circle.person-green i {
    width: 12px;
    height: 16px;
    margin: 8px auto;
    background-position: -37px 0;
}
.icon-circle.person {
    background-color: #CFBAAD;
}
.icon-circle.person-green {
    background-color: #9FD245;
}

.icon-circle.person-green.small i {
    width: 10px;
    height: 13px;
    margin: 5px 0 0 7px;
    background-position: -27px -18px;
}

/* Иконка товара */
.icon-circle.good {
    background-color: #CFBAAD;
}
.icon-circle.good i {
    width: 14px;
    height: 14px;
    margin: 9px auto;
    background-position: -75px 0;
}

.icon-circle.good-green {
    background-color: #9FD245;
}
.icon-circle.good-green i {
    width: 14px;
    height: 14px;
    margin: 9px auto;
    background-position: -75px 0;
}

/* Иконки настройки фотографий */
.icon-circle.setting {
    background-color: #CFBAAD;
    width: 24px;
    height: 24px;
    border: solid #FFFFFF 1px;
}
.icon-circle.setting i {
    width: 18px;
    height: 14px;
    margin: 4px auto;
    background-position: -117px 0;
}
.icon-circle.setting:hover {
    cursor: pointer;
    background-color: #C4AFA2;
}

.icon-circle.remove {
    background-color: #FF7F66;
    width: 24px;
    height: 24px;
    border: solid #FFFFFF 1px;
}
.icon-circle.remove i {
    width: 10px;
    height: 10px;
    margin: 6px auto;
    background-position: -117px -21px;
}
.icon-circle.remove:hover {
    cursor: pointer;
    background-color: #F07863;
}

.icon-circle.little-help {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    background-color: #9FD245;
    cursor: pointer;
}

.icon-circle.redact {
    background-color: #CFBAAD;
}
.icon-circle.redact i {
    width: 17px;
    height: 17px;
    margin: 8px auto;
    background-position: -89px 0;
}

.icon-circle.key {
    background-color: #CFBAAD;
}
.icon-circle.key i {
    width: 11px;
    height: 22px;
    margin: 6px 0 0 11px;
    background-position: -106px 0;
}

.icon-circle.comment {
    background-color: #CFBAAD;
}
.icon-circle.comment i {
    width: 16px;
    height: 15px;
    margin: 11px 0 0 9px;
    background-position: -49px 0;
}

.icon-circle.up {
    background-color: #FFB800;
}
.icon-circle.up i {
    width: 10px;
    height: 14px;
    margin: 10px 0 0 12px;
    background-position: -65px 0;
}

.icon-circle.rouble {
    background-color: #CFBAAD;
}
.icon-circle.rouble i {
    width: 14px;
    height: 14px;
    margin: 5px 0 0 5px;
    background-position: -55px -17px;
}

/* Квадратные иконки */
.icon-square {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #CFBAAD;
    border-top: solid #C2AA9C 1px;
    vertical-align: middle;
    cursor: pointer;
}

.icon-square.active {
    background-color: #9FD245;
    border-top: solid #8AC434 1px;
    border-right: solid #8AC434 1px;
    cursor: default;
}

.icon-square i {
    display: inline-block;
    background: url('../img/circle-group-icons.png') no-repeat;
}

.icon-square.tile i {
    width: 13px;
    height: 13px;
    margin: 7px 0 0 7px;
    background-position: -69px -18px;
}

.icon-square.list i {
    width: 17px;
    height: 12px;
    margin: 8px 0 0 5px;
    background-position: -82px -19px;
}

/* Основные иконки */
.icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('../img/main-group-icons.png') no-repeat;
    margin-bottom: 2px;
}

.button button.icon-line,
.button a[data-type="button"].icon-line {
    padding-right: 5px;
}
.icon-line .icon,
.icon-line span,
.icon-line a {
    vertical-align: middle;
}
.icon-line .icon {
    margin-right: 6px;
}

.icon.person-white {
    background-position: -544px -16px;
}

.icon.login {
    background-position: -560px 0;
}

.icon.logout {
    background-position: -576px 0;
}

.icon.person {
    background-position: -448px -16px;
    margin-bottom: 0;
}
.icon.person-green {
    background-position: -560px -16px;
    margin-bottom: -1px;
}

.icon.order {
    background-position: -432px -16px;
    margin-bottom: 0;
}

.icon.order-light {
    background-position: -752px 0;
}

.icon.order-white {
    background-position: -640px 0;
    margin-bottom: 4px;
}

.icon.basket {
    background-position: -464px 0;
    margin-bottom: 0;
}

.icon.basket-gold {
    background-position: -625px 0;
}

.icon.message {
    background-position: -464px -16px;
    margin-bottom: 0;
}

.icon.store {
    background-position: -416px -16px;
}

.icon.statistic {
    background-position: -432px 0;
}

.icon.archive {
    background-position: -416px 0;
}

.icon.arrow {
    background-position: -448px 0;
}

.icon.arrow-white {
    background-position: -656px -16px;
}

.icon.rouble {
    background-position: -592px -16px;
    margin-bottom: 0;
}

.icon.rouble-light {
    background-position: -624px -16px;
    margin-bottom: 0;
}

.icon.rouble-gold {
    background-position: -608px -16px;
    margin-bottom: 0;
}

.icon.rouble-white {
    background-position: -576px -16px;
    margin-bottom: 0;
}

.icon.little-star-light {
    background-position: -784px 0;
    margin: 0 3px;
}

.icon.little-star {
    background-position: -704px -16px;
    margin: 0 3px;
}

.icon.little-star-empty {
    background-position: -704px 0;
    margin: 0 3px;
}

.icon.gold-star {
    background-position: -656px 0;
    margin-bottom: 0;
}

.icon.gold-star-empty {
    background-position: -672px 0;
    margin-bottom: 0;
}

.icon.star {
    background-position: -688px 0;
    margin-bottom: 0;
}

.icon.star-empty {
    background-position: -688px -16px;
    margin-bottom: 0;
}

.icon.green-star {
    background-position: -608px 0;
    /*margin-bottom: 0;*/
}

.icon.attention {
    width: 19px;
    background-position: -874px 0;
}

.icon.attention-red {
    width: 19px;
    background-position: -874px -16px;
}

.icon.asterisk {
    background-position: -800px 0;
    margin-bottom: -2px;
}

.icon.good {
    background-position: -752px -16px;
}
.icon.good-white {
    background-position: -768px -16px;
}

.icon.delete-red {
    background-position: -720px 0;
}

.icon.edit {
    background-position: -672px -16px;
    margin-bottom: 0;
}

.icon.purchase {
    width: 18px;
    height: 19px;
    background-position: -856px 0;
    margin-bottom: 3px;
}

/* Способы достаки */
.icon.mail-delivery {
    background-position: -528px 0;
    margin-bottom: 1px;
}
.icon.express-delivery {
    background-position: -528px -16px;
}
.icon.personal-meeting {
    background-position: -544px 0;
    margin-bottom: 3px;
}
.icon.other {
    background-position: -592px 0;
    margin-bottom: -2px;
}

/* Способы оплаты */
.icon.webmoney {
    background-position: -480px 0;
}
.icon.yandex-money {
    background-position: -480px -16px;
}
.icon.mail-transfer {
    background-position: -496px 0;
}
.icon.bank-transfer {
    background-position: -496px -16px;
}
.icon.by-cash-when-meeting {
    background-position: -512px 0;
}
.icon.qiwi {
    background-position: -512px -16px;
}
.icon.pay-pal {
    background-position: -512px -16px;
}

/* Классификация товаров */
/* Брюки */
.icon.suit-pants {
    background-position: -97px 0;
}

/* Верхняя одежда */
.icon.outerwear {
    background-position: -97px -16px;
    margin-bottom: 0;
}

/* Головной убор */
.icon.headdress {
    background-position: -112px 0;
    margin-bottom: 0;
}

/* Детская одежда */
.icon.children {
    background-position: -112px -16px;
}

/* Джинсы */
.icon.jeans {
    background-position: -128px 0;
}

/* Домашняя одежда */
.icon.indoor {
    background-position: -128px -16px;
    margin-bottom: 0;
}

/* Женская одежда */
.icon.women {
    background-position: -144px 0;
}

/* Жилет */
.icon.vest {
    background-position: -144px -16px;
}

/* Зимняя одежда */
.icon.winter {
    background-position: -160px 0;
}

/* Изделие из кожи */
.icon.leather {
    background-position: -160px -16px;
}

/* Кардиган */
.icon.cardigan {
    background-position: -176px 0;
}

/* Колготки */
.icon.tights {
    background-position: -176px -16px;
}

/* Комбинезон */
.icon.overall {
    background-position: -192px 0;
}

/* Костюм */
.icon.suit {
    background-position: -192px -16px;
}

/* Кофта */
.icon.blouse {
    background-position: -208px 0;
}

/* Купальник */
.icon.swimsuit {
    background-position: -208px -16px;
}

/* Куртка */
.icon.jacket {
    background-position: -224px 0;
}

/* Летняя одежда */
.icon.summer {
    background-position: -224px -16px;
}

/* Маскарадная одежда */
.icon.masquerade {
    background-position: -240px 0;
}

/* Мужская одежда */
.icon.men-wear  {
    background-position: -240px -16px;
}

/* Национальная одежда */
.icon.national {
    background-position: -256px 0;
}

/* Нижнее белье */
.icon.underwear {
    background-position: -256px -16px;
}

/* Носки */
.icon.socks {
    background-position: -272px 0;
}

/* Обувь */
.icon.shoes {
    background-position: -272px -16px;
}

/* Осенняя (весенняя) одежда */
.icon.autumn {
    background-position: -288px 0;
}

/* Пальто */
.icon.coat {
    background-position: -288px -16px;
}

/* Пиджак */
.icon.blazer {
    background-position: -304px 0;
}

/* Платье */
.icon.the-dress {
    background-position: -304px -16px;
}

/* Плащ */
.icon.cloak {
    background-position: -320px 0;
}

/* Праздничная одежда */
.icon.festival {
    background-position: -320px -16px;
}

/* Спецодежда */
.icon.coveralls {
    background-position: -336px 0;
}

/* Спортивная одежда */
.icon.sportswear {
    background-position: -336px -16px;
}

/* Термобелье */
.icon.thermolinen {
    background-position: -352px 0;
}

/* Униформа */
.icon.uniform {
    background-position: -352px -16px;
}

/* Футболка */
.icon.t-shirt {
    background-position: -368px 0;
}

/* Халат */
.icon.bathrobe {
    background-position: -368px -16px;
}

/* Шорты */
.icon.shorts {
    background-position: -384px 0;
}

/* Штаны */
.icon.pants {
    background-position: -384px -16px;
}

/* Шуба */
.icon.fur-coat {
    background-position: -400px 0;
}

/* Юбка */
.icon.skirt {
    background-position: -400px -16px;
}

/* Иглы */
.icon.needles {
    background-position: 0 -16px;
}

/* Режущие инструменты */
.icon.scissors {
    background-position: -16px 0;
}

/* Нитки */
.icon.threads {
    background-position: -16px -16px;
}

/* Ткани */
.icon.fabrics {
    background-position: -32px 0;
}

/* Измерительные инструменты */
.icon.centimeters {
    background-position: -32px -16px;
}

/* Инструменты для разметки */
.icon.marking {
    background-position: -48px 0;
}

/* Отделочные ленты */
.icon.ribbons {
    background-position: -48px -16px;
}

/* Пуговицы, кнопки */
.icon.buttons {
    background-position: -64px 0;
}

/* Электроприборы */
.icon.appliances {
    background-position: -64px -16px;
}

/* Манекены */
.icon.mannequins {
    background-position: -80px 0;
}

/* Мебель */
.icon.furniture {
    background-position: -80px -16px;
}

/* Детали и комплектующие */
/* TODO нарисовать иконку. Пока что эта категория аналогична категории other */
.icon.parts_components {
    background-position: -592px 0;
    margin-bottom: -2px;
}

/* <Конец> Иконки */