#content {
    margin-top: 25px;
}

h3 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

#studio-carousel {
    position: relative;
}

#carousel-help-block {
    margin: 0;
    height: 26px;
}

#disable-moving-title {
    display: none;
    font-size: 18px;
    color: #797979;
}

#studio-carousel-wrapper {
    overflow: hidden;
    padding-top: 10px;
    box-sizing: content-box;
}

#studio-carousel .studio-block {
    height: 104px;
    margin-bottom: 30px;
}

#studio-carousel .studio-block:last-child {
    margin-bottom: 0;
}

#studio-carousel .studio-info,
#studio-carousel .some-goods,
#studio-carousel .photo,
#studio-carousel .info {
    display: inline-block;
    vertical-align: middle;
}

#studio-carousel .photo,
#studio-carousel .info {
    vertical-align: top;
}

#studio-carousel .studio-info {
    width: 490px;
}

#studio-carousel .some-goods {
    width: 208px;
}

#studio-carousel .photo {
    position: relative;
    margin-left: 10px;
}

#studio-carousel .photo img {
    border: solid #CFBAAD 1px;
}

#studio-carousel .photo div {
    position: absolute;
    top: -10px;
    left: -10px;
}

#studio-carousel .info {
    width: 355px;
    margin-left: 15px;
}

#studio-carousel .info div {
    margin-top: -5px;
}

#studio-carousel .info p {
    margin: 8px 0;
    font-family: pt_serifItalic, serif;
    font-size: 15px;
    color: #504C3F;
    min-height: 40px;
}

#studio-carousel .info ul {
    white-space: nowrap;
    overflow: hidden;
}

#studio-carousel .info ul li {
    display: inline-block;
    margin-right: 15px;
}

#studio-carousel .some-goods a {
    display: inline-block;
    box-sizing: content-box;
    border: solid #CFBAAD 1px;
    margin: 0 2px 2px 0;
    /*line-height: 50px;*/
}

#studio-carousel .how-be-this {
    bottom: -55px;
    z-index: 1;
}

main .dashed {
    margin: 40px 0 40px 0;
}

#new-goods {
    margin-bottom: 75px;
}

.aside_ad {
    margin-top: 20px;
}

#social-block {
    margin-top: 30px;
}