.interlocutor {
    width: 200px;
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle;
}

.interlocutor .photo,
.interlocutor .info {
    display: inline-block;
    vertical-align: top;
}

.interlocutor .photo {
    position: relative;
    margin-right: 10px;
}
.interlocutor .photo img {
    box-sizing: content-box;
    border: solid #D3B9AA 1px;
}
.interlocutor .photo div {
    position: absolute;
    top: -8px;
    left: -8px;
}

.interlocutor .info .name {
    width: 136px;
}

.interlocutor .info time {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
}

#messages .message {
    display: inline-block;
    vertical-align: middle;
    width: 474px;
    background-color: #FAF3EB;
    border: solid #E6DDD2 1px;
    border-radius: 16px;
    padding: 20px 25px;
    max-height: 82px;
    text-decoration: none;
}
#messages .message p {
    overflow: hidden;
    height: 40px;
}

#messages .message:hover {
    border-color: #D3B9AA;
    color: inherit;
    cursor: pointer;
}

#messages .message.new {
    background-color: #EAF0CE;
    border-color: #EAF0CE;
}

#messages .message.new:hover {
    border-color: #9FD245;
}

#messages li {
    margin-bottom: 15px;
}

.not-messages {
    margin: 100px auto;
    width: 500px;
    height: 150px;
    font-family: RobotoBlack, sans-serif;
    font-size: 28px;
    color: #95938E;
    text-align: center;
}

/* Кнопка показать еще */
#show-more {
    text-align: center;
    margin-top: 25px;
}

#show-more-button {
    display: inline-block;
    cursor: pointer;
}

#show-more-button:hover {
    color: #FF7F66;
}

#show-more-button span {
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoLight, sans-serif;
    font-size: 24px;
}

#show-more-button .plus-button {
    position: relative;
    width: 36px;
    height: 36px;
    background: #DFC8BB;
    border-radius: 50%;
    margin-right: 5px;
}

#show-more-button .plus-button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 26px;
    height: 2px;
    background: #FDF8F0;
}

#show-more-button .plus-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 26px;
    background: #FDF8F0;
}