h2 {
    margin-bottom: 15px;
}

main {
    margin-bottom: 45px;
}

.news-item {
    display: inline-block;
    width: 292px;
    margin: 0 0 35px 42px;
    vertical-align: top;
}

.news-item:nth-child(3n-2) {
    margin-left: 0;
}

.news-item h3 {
    line-height: 18px;
    margin-bottom: 10px;
}

.news-item h3 a {
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
}

.news-item p {
    margin-top: 10px;
}

.news-item img {
    box-sizing: content-box;
    border: solid #D3B9AA 1px;
    float: left;
    margin-right: 10px;
}