main, aside.float.right {
    margin-bottom: 45px;
}

.sloping-line {
    height: 14px;
    margin-top: 10px;
    background: url('../img/sloping-line-bg.png') repeat-x;
}

.search-alert {
    margin-top: 15px;
}

#studio-wrapper li:nth-child(2n) {
    background-color: #F8F0E8;
}

#studio-wrapper .main-info {
    padding: 19px 16px 15px;
    border-bottom: solid #EAE6DE 1px;
}

.main-info .avatar,
.main-info .name {
    display: inline-block;
    vertical-align: top;
}

.main-info .avatar {
    position: relative;
    border: solid #D3B9AA 1px;
}

.prestige .main-info .avatar:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -17px;
    width: 42px;
    height: 41px;
    background: url('../img/prestige-lenta.png') no-repeat;
}

.main-info .name {
    margin-left: 12px;
    width: 550px;
}

.main-info .name > div span {
    margin-left: 3px;
}

.main-info .name a {
    cursor: pointer;
}

.main-info .name > p {
    margin-top: 6px;
}

.additional-info {
    padding: 8px 10px 15px;
}

.additional-info .count span:first-child,
.additional-info .country span:first-child,
.additional-info .city span:first-child {
    font-family: RobotoMedium, sans-serif;
    font-size: 15px;
    margin-right: 4px;
}

.additional-info .count {
    float: left;
}

.additional-info .country,
.additional-info .city {
    float: right;
}

.additional-info .count {
    width: 200px;
}

.additional-info .country {
    margin-left: 100px;
}

#studio-wrapper {
    position: relative;
    min-height: 195px;
}