main, aside.float.right {
    margin-bottom: 45px;
}

.sloping-line {
    height: 14px;
    margin-top: 10px;
    background: url('../img/sloping-line-bg.png') repeat-x;
}

.search-alert {
    margin-top: 15px;
}

#goods-wrapper {
    margin-top: 15px;
}