#signup-action {
    width: 210px;
}

.panel .panel-header {
    padding-top: 12px;
}

.panel .panel-body {
    padding-left: 0;
    padding-right: 0;
}

.panel .panel-body li {
    padding-left: 15px;
}

.panel .panel-footer {
    height: 110px;
}

.panel .panel-footer::before {
    margin-bottom: 22px;
}

.panel .left-col {
    width: 230px;
    text-align: right;
}

.panel .error-summary {
    padding-left: 28px;
}

#acceptAgreement label {
    font-family: pt_serifItalic, serif;
    font-weight: normal;
    margin-bottom: 15px;
}

#agreement {
    position: relative;
    width: 796px;
    margin: 20px auto 40px;
}

#agreement h4 {
    text-align: center;
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

#agreement p {
    padding-bottom: 10px;
}

#agreement-text {
    height: 110px;
    overflow: hidden;
}

#agreement-text strong {
    font-family: RobotoBold, sans-serif;
}

#agreement-text ul li {
    list-style: square;
    margin-left: 25px;
}

#agreement .how-be-this {
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
    width: 214px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    border: solid #E7DBD0 2px;
    border-radius: 12px;
    background-color: #FFFFFF;
    z-index: 1;
}

#agreement .how-be-this a:focus {
    color: #322C25
}

.dashed.scissor-right {
    margin-bottom: 50px;
}

/* Фотографии */
li.photos {
    margin-top: 15px;
    background-color: #F1E8DF;
    padding: 15px 0;
}

li.photos .left-col,
li.photos .center-col {
    vertical-align: middle;
}

#photo-input {
    display: none;
}

#dropbox {
    border: dashed #CFBBAE 2px;
    background: #F9F3EC url('../img/photo-diagonal-bg.png');
}

#dropbox:hover {
    background-color: #E6DAD5;
    border-color: #BEAA9D;
    cursor: pointer;
}

#dropbox p {
    text-align: center;
    font-family: RobotoBlack, sans-serif;
    font-size: 15px;
    color: #95938E;
    padding: 15px 0;
}

#dropbox.ondrag {
    background-color: #E6DAD5;
}

#photos-to-upload .photo-wrapper {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    border: solid #DFC8BB 1px;
    width: 82px;
    height: 82px;
}

#photos-to-upload .photo-wrapper:nth-child(3n) {
    margin-right: 0;
}

.photo-wrapper .hidden-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.icon-circle.setting,
.icon-circle.remove {
    position: absolute;
    top: -10px;
    display: none;
    z-index: 3;
}

.icon-circle.setting {
    left: -10px;
}

.icon-circle.remove {
    right: -10px;
}

#photos-to-upload .photo-wrapper:hover .icon-circle.setting,
#photos-to-upload .photo-wrapper:hover .icon-circle.remove {
    display: block;
}

/* Модальное окно */
.modal-dialog .modal-content {
    border-radius: 15px;
    background-color: #F3ECE4;
}

.modal-dialog .modal-content .modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: solid #DFC8BB 1px;
    border-bottom-color: #D0CAC4;
}

.modal-dialog .modal-content .modal-header h4 {
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
    text-align: center;
}

.modal-dialog .modal-content .modal-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid #DFC8BB 1px;
    border-top-color: #D0CAC4;
    text-align: center;
}

.modal-dialog .modal-content .modal-body {
    padding: 0;
    background-color: #F0E6DD;
}

#photo-place {
    position: relative;
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 25px;
    background: #DAC9BE url('../img/photo-setting-diagonal-bg.png');
}

#preview-wrapper {
    float: right;
    width: 173px;
    padding: 50px 15px
}

#preview-wrapper figure {
    text-align: center;
}


#preview-wrapper p {
    color: #504C3F;
    margin-top: 10px;
}

#preview {
    display: inline-block;
    box-sizing: content-box;
    width: 82px;
    height: 82px;
    border: solid #BE957B 1px;
    margin-bottom: 6px;
    overflow: hidden;
}

#photo-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#photo-wrapper .photo-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

#select-place {
    position: absolute;
    cursor: move;
    overflow: hidden;
}

#photo-wrapper .marker {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    opacity: 0.7;
}

#photo-wrapper .marker.left-top {
    /*top: 10px;
    left: 20px;*/
    /*margin: -5px 0 0 -5px;*/
    cursor: se-resize;
}

#photo-wrapper .marker.right-top {
    /*top: 10px;
    left: 280px;*/
    margin-left: -10px;
    cursor: sw-resize;
}

#photo-wrapper .marker.right-bottom {
    /*top: 270px;
    left: 280px;*/
    margin: -10px 0 0 -10px;
    cursor: nw-resize;
}

#photo-wrapper .marker.left-bottom {
    /*top: 270px;
    left: 20px;*/
    margin-top: -10px;
    cursor: ne-resize;
}

#photo-settings-cancel {
    width: 100px;
    /*margin-right: 15px;*/
}

#photo-settings-save {
    width: 100px;
}

#photo-input {
    display: none;
}

.photo-wrapper .glass {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0.7;
    z-index: 2;
}

.photo-wrapper .progressBar {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    box-sizing: content-box;
    margin: 0 3px 0;
    height: 5px;
    border: solid #999999 1px;
    background-color: #FFFFFF;
    padding: 2px;
    z-index: 3;
}

.photo-wrapper .progressBar > div {
    width: 0;
    height: 100%;
    background-color: #337AB7;
}

.photo-wrapper .error {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    display: none;
    cursor: help;
}

.photo-wrapper .error p {
    display: none;
    min-width: 150px;
    font-size: 13px;
    padding: 5px;
    background-color: #FF7F66;
    color: #FFFFFF;
    position: absolute;
    bottom: 26px;
}