main {
    padding-bottom: 40px;
}

.float.right {
    float: right;
    width: 700px;
}

.person-info .icon-circle {
    cursor: default;
}

.widget-wrapper {
    display: inline-block;
    margin-top: 25px;
    text-align: center;
}

.widget-wrapper h4 {
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
    margin-bottom: 11px;
}

#UserRating .panel-footer .icon-line {
    margin: 5px 3px 6px;
}