.statistic-list {
    margin-top: 5px;
}

.statistic-list > li {
    padding: 6px 0;
}

.statistic-list > li:nth-child(2n) {
    background-color: #F8F0E8;
}

.statistic-list > li > div {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    /*min-height: 33px;*/
    /*line-height: 33px;*/
}

.statistic-list li > div:first-child {
    font-family: RobotoMedium, sans-serif;
    font-size: 15px;
    padding-left: 22px;
    width: 225px;
}

.statistic-list li > div:last-child {
    font-size: 15px;
    width: 427px;
    padding-right: 22px;
}