main {
    margin-bottom: 45px;
}

aside.left section {
    margin-bottom: 18px;
}

aside.left section h5 {
    margin: 21px 0 5px;
}

.rating {
    margin-top: 14px;
}

.rating > div {
    text-align: center;
}

.rating .rating-block {
    margin-bottom: 5px;
}

#send-message {
    display: block;
    width: 210px;
    margin: 24px auto 0;
}

aside.left section li.icon-line {
    margin: 3px 0;
}

aside.left section span {
    display: inline-block;
}

aside.left section .quantity-label {
    margin-right: 3px;
}

aside.left section .quantity-label.buyer-reputation {
    width: 84px;
}

aside.left section .category-list .quantity-label {
    width: 168px;
}

.float.right {
    float: right;
    width: 700px;
}

#slogan {
    margin-top: 10px;
    background: url('../img/slogan-sloping-line-bg.png');
}

#slogan h3 {
    position: relative;
    display: inline-block;
    max-width: 635px;
    padding: 5px 10px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #9FD245;
}

#slogan h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border-top: solid #9FD245 16px;
    border-right: solid transparent 10px;
    border-bottom: solid transparent 16px;
    border-left: solid #9FD245 10px;
}

#slogan h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    border-top: solid transparent 16px;
    border-right: solid transparent 10px;
    border-bottom: solid #9FD245 16px;
    border-left: solid #9FD245 10px;
}

#social-block {
    margin-top: 15px;
}

#description {
    position: relative;
    margin-top: 13px;
}

#description .inner-wrapper {
    margin-bottom: 6px;
    /*max-height: 40px;*/
    /*overflow: hidden;*/
    padding: 0 5px;
}

#description .outer-wrapper {
    position: relative;
    z-index: 1;
    background-color: #FDF8F0;
}

#description .description-footer {
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FDF8F0;
}

#read-all {
    font-size: 18px;
}

#read-all a {
    display: inline-block;
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}

.margin-scissor {
    margin: 16px 0 20px;
}

#goods-header {
    height: 52px;
    background: #EFE5DC url('../img/diagonal-bg.png');
    margin-top: 12px;
    padding: 6px 8px 0 20px;
}

#goods-header li {
    display: inline-block;
    margin-right: 20px;
}

#goods-header li.bold-underline {
    border-bottom-color: #FF7F66;
}

#goods-header ul {
    margin-top: 8px;
}

#goods-header ul,
#goods-header .sort-type {
    display: inline-block;
    vertical-align: middle;
}

#goods-header .sort-type {
    float: right;
}

#goods-header .sort-type span,
#goods-header .sort-type .select {
    vertical-align: middle;
}

#goods-header .sort-type .select {
    margin-left: 5px;
}

#goods-header .sort-type .select select {
    width: 215px;
}

#goods-wrapper.good-tile {
    margin-top: 25px;
    padding: 0 10px;
}

#filter-header {
    font-family: RobotoMedium, sans-serif;
    font-size: 26px;
    margin: 11px 0 -11px 10px;
}

#filter-header span {
    font-size: 18px;
}