#content {
    margin-top: 5px
}

main {
    margin-bottom: 45px;
}

.breadcrumb {
    margin: 0;
}

aside.left section {
    margin-bottom: 18px;
}

aside.left section h3 {
    margin-bottom: 11px;
}

#studio-section {
    margin-top: 10px;
}

#studio-section ul .icon-circle {
    margin-right: 10px;
}

#studio-section li {
    margin-bottom: 8px;
}

#category-section .selected {
    border-bottom: solid #D8D4CE 1px;
    margin-bottom: 8px;
    padding-bottom: 6px;
    cursor: default;
}

#category-section .selected .delete-red {
    float: right;
    cursor: pointer;
}

#category-section li {
    margin-bottom: 7px;
}
#category-section li.active span {
    color: #FF7F66;
    cursor: default;
}

#category-section a {
    text-decoration: none;
}

#category-section {
    margin-bottom: 45px;
}

#country-section {
    margin-top: 15px;
}

.float.right {
    float: right;
    width: 700px;
}

/* Центральная часть */
#list-header {
    height: 52px;
    background: #EFE5DC url('../img/diagonal-bg.png');
    margin-top: 12px;
    padding: 6px 8px 0 20px;
}

#list-header li {
    display: inline-block;
    margin-right: 20px;
}

#list-header li.bold-underline {
    border-bottom-color: #FF7F66;
}

#list-header ul {
    margin-top: 8px;
}

#list-header ul,
#list-header .sort-type {
    display: inline-block;
    vertical-align: middle;
}

#list-header .sort-type {
    float: right;
}

#list-header .sort-type span,
#list-header .sort-type .select {
    vertical-align: middle;
}

#list-header .sort-type .select {
    margin-left: 5px;
}

#list-header .sort-type .select select {
    width: 215px;
}

#count-of-studios {
    margin-top: 6px;
    padding-left: 10px;
}

#studio-wrapper li:nth-child(2n) {
    background-color: #F8F0E8;
}

#studio-wrapper .main-info {
    padding: 19px 16px 15px;
    border-bottom: solid #EAE6DE 1px;
}

.main-info .avatar,
.main-info .name {
    display: inline-block;
    vertical-align: top;
}

.main-info .avatar {
    position: relative;
    border: solid #D3B9AA 1px;
}

.prestige .main-info .avatar:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -17px;
    width: 42px;
    height: 41px;
    background: url('../img/prestige-lenta.png') no-repeat;
}

.main-info .name {
    margin-left: 12px;
    width: 550px;
}

.main-info .name > div span {
    margin-left: 3px;
}

.main-info .name a {
    cursor: pointer;
}

.main-info .name > p {
    margin-top: 6px;
}

.additional-info {
    padding: 8px 10px 15px;
}

.additional-info .count span:first-child,
.additional-info .country span:first-child,
.additional-info .city span:first-child {
    font-family: RobotoMedium, sans-serif;
    font-size: 15px;
    margin-right: 4px;
}

.additional-info .count {
    float: left;
}

.additional-info .country,
.additional-info .city {
    float: right;
}

.additional-info .count {
    width: 200px;
}

.additional-info .country {
    margin-left: 100px;
}

#studio-wrapper {
    position: relative;
    min-height: 195px;
}

#studio-wrapper .preloader {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
}