@import 'fonts.css';
@import 'reset.css';

html, body {
    min-width: 960px;
    height: 100%;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: #444444;
}

h2 {
    font-family: RobotoMedium, sans-serif;
    font-size: 28px;
    color: #322C25;
}

img {
    box-sizing: content-box;
}

/* Ссылки */
a {
    font-family: RobotoRegular, sans-serif;
    font-size: 15px;
    color: #444444;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #FF7F66;
    text-decoration: none;
}

.big-red,
a.big-red {
    font-size: 18px;
    color: #FF7F66;
}

/* Белая ссылка с подчеркиванием */
a.white {
    color: #FFFFFF;
    text-decoration: underline;
}

a.white:hover {
    text-decoration: none;
}

/* Ссылка для товара на главной. Без подчеркивания. */
a.good-tile-link {
    font-size: 16px;
    color: #322C25;
    text-decoration: none;
}
a.good-tile-link:hover {
    text-decoration: underline;
}

/* Курсивная ссылка студии в блоке товара на главной. */
.italic,
a.italic {
    font-family: pt_serifItalic, serif;
    font-size: 15px;
}

.dashed-underline,
a.dashed-underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: 0 2px;
}
.dashed-underline:hover,
a.dashed-underline:hover {
    color: #FF7F66;
}
.dashed-underline::after,
a.dashed-underline::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 2px;
    bottom: 0;
    background: url('../img/dashed-bg.png') repeat-x;
}
.dashed-underline:hover::after,
a.dashed-underline:hover::after {
    display: none;
}
/* <Конец> Ссылки */

/* Текстовые стили */
.darker {
    color: #322C25;
}

.lighter {
    color: #646464;
    font-size: 14px;
}

.size15 {
    font-size: 15px;
}

.size16 {
    font-size: 16px;
}

.smaller {
    font-size: 13px;
}

.bolder {
    font-family: RobotoMedium, sans-serif;
}

.red {
    color: #FF7F66;
}

.news-date {
    font-family: pt_serifItalic, serif;
    font-size: 13px;
    color: #FF7F66;
}

.big-red-medium {
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
    color: #FF7F66;
}

.big-digit {
    font-family: RobotoBlack, sans-serif;
    font-size: 30px;
    color: #797979;
}

.digit {
    font-family: RobotoMedium, sans-serif;
    font-size: 15px;
}

.italic {
    font-family: pt_serifItalic, serif;
}

.price-normal {
    font-family: RobotoMedium, sans-serif;
    font-size: 18px;
}

.price-bigger {
    font-family: RobotoBold, sans-serif;
    font-size: 22px;
}
/* <Конец> Текстовые стили */

#wrapper {
    position: relative;
    min-height: 100%;
    background: #FDF8F0;
    margin-bottom: -104px;
    overflow: hidden;
}

#center-wrapper {
    position: relative;
    width: 960px;
    min-height: 100%;
    margin: auto;
}

#footer-buffer {
    height: 104px;
}

footer {
    position: relative;
    height: 104px;
    width: 100%;
    background: #95938D;
    border-top: solid #C9C5BE 1px;
}

header {
    position: relative;
    height: 198px;
}

#l-h-spiral {
    position: absolute;
    left: -148px;
    top: -9px;
    width: 151px;
    height: 150px;
    background: url('../img/left-bg-spiral.png');
}

#r-h-spiral {
    position: absolute;
    right: -143px;
    top: 0;
    width: 152px;
    height: 150px;
    background: url('../img/right-bg-spiral.png');
}

.header-col {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#logo {
    width: 156px;
    height: 129px;
    background: url('../img/logo-substrate.png') no-repeat;
    margin-top: 34px;
}

#logo h1 {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/logo-dashed-line.png') center 60px no-repeat;
}

#logo h1 a {

    font-family: Intro_Regular, sans-serif;
    font-size: 32px;
    color: #FFB800;
    text-decoration: none;
}

#logo h1 a span {
    font-family: pf_din_text_comp_proRegular, sans-serif;
    color: #322E25;
    letter-spacing: 6px;
    padding-left: 10px;
}

#site-description {
    margin-top: 34px;
    padding: 10px 0 0 10px;
    font-family: pt_serifItalic, serif;
    font-size: 15px;
    color: #504C3F;
}

header nav {
    position: relative;
    height: 42px;
    width: 554px;
    margin-top: 6px;
    background: #FF7F66 url('../img/nav-bg.png');
}

header nav::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top: solid transparent 21px;
    border-bottom: solid transparent 21px;
    border-left: solid transparent 15px;
    border-right: solid #FDF8F0 15px;
}

header nav .top-line {
    position: absolute;
    top: 5px;
    height: 1px;
    width: 100%;
    background: url('../img/nav-dashed-line.png') repeat-x;
}

header nav .bottom-line {
    position: absolute;
    bottom: 5px;
    height: 1px;
    width: 100%;
    background: url('../img/nav-dashed-line.png') repeat-x;
}

header nav a {
    font-family: RobotoMedium, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

header nav a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

header nav a:visited {
    color: #FFFFFF;
}

header nav ul li {
    float: left;
    height: 26px;
    line-height: 23px;
    margin-top: 8px;
    padding: 0 8px;
    font-family: RobotoMedium, sans-serif;
    font-size: 17px;
}

header nav ul li:first-child {
    padding-left: 16px;
}

header nav ul li:nth-last-child(n+2)::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 9px;
    margin: 0 0 -1px 8px;
    background: url('../img/nav-circle-marker.png') no-repeat;
}

header nav ul li a {
    color: #FFFFFF;
}

input.form-control,
select.form-control,
textarea.form-control {
    border-color: #DFC8BB;
    color: #322C25;
}

input.form-control:hover,
select.form-control:hover,
textarea.form-control:hover {
    border-color: #DFC8BB;
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    border-color: #DFC8BB;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 187, 102, 0.6);
}

select.form-control:focus {
    box-shadow: none;
}

button:focus, a {
    outline: none !important;
}

button.btn {
    border-color: #DFC8BB;
    color: #95938D;
}

button.btn:hover {
    color: #FFFFFF;
    background-color: #CFBAAD;
    border-color: #DFC8BB;
}

button.btn:focus {
    color: #FFFFFF;
    background-color: #CFBAAD;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 187, 102, 0.6);
}

button.btn, input.form-control, select.form-control {
    border-radius: 0;
    font-size: 16px;
    height: 38px;
    border-color: #DFC8BB;
    box-shadow: none;
}

#search {
    margin: 12px 0 0 14px;
    width: 524px;
}

#search input.form-control {
    padding-right: 40px;
}

.dropdown-group .vertical-divider {
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px;
    height: 30px;
    background: #DFC8BB;
    z-index: 3;
}

.dropdown-left-group button {
    border-right: none;
}

.dropdown-left-group input {
    border-left: none;
}

.dropdown-left-group .caret {
    margin: 0 0 2px 3px;
}

.caret {
    border-right-width: 4px;
    border-left-width: 4px;
    border-top: solid #AAA9A4 6px;
}

.caret.top {
    border-right-width: 4px;
    border-left-width: 4px;
    border-bottom: solid #AAA9A4 6px;
    border-top-color: transparent;
    margin-bottom: 6px;
}

button.btn:hover .caret,
button.btn:focus .caret {
    border-top-color: #FFFFFF;
}

#search-submit {
    position: absolute;
    right: 0;
    height: 38px;
    width: 38px;
    border: none;
    background: url('../img/search-button.png') center no-repeat;
    opacity: 0.6;
    z-index: 3;
}

#search-submit:hover {
    opacity: 1;
}

.dropdown-menu {
    border: solid #DFC8BB 1px;
    border-radius: 0;
    top: 35px;
    padding: 0;
}

.dropdown-menu li {
    height: 35px;
}

.dropdown-menu li span {
    display: block;
    color: #95938D;
    line-height: 35px;
    text-decoration: none;
    padding: 0 20px;
}

.dropdown-menu li span:hover {
    color: #FFFFFF;
    background-color: #CFBAAD;
    cursor: pointer;
}

.dropdown-menu li.divider {
    margin: 0 5px;
    background-color: #DFC8BB;
}

.button {
    display: inline-block;
    position: relative;
    height: 38px;
    text-align: center;
}

.button .margin-layer {
    width: 100%;
    height: 4px;
}

.button .low-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #A28A7B url('../img/diagonal-bg.png');
    border-radius: 9px;
}

.button button, .button a[data-type="button"] {
    display: block;
    position: absolute;
    bottom: 4px;
    height: 100%;
    width: 100%;
    background: #C2AA9C;
    border: none;
    border-radius: 9px;
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0;
    vertical-align: middle;
}

.button button:active, .button a[data-type="button"]:active {
    bottom: 1px;
}

.button.disable button:active, .button.disable a[data-type="button"]:active {
    bottom: 4px;
}

.button.yellow .low-layer {
    background-color: #E49808;
}

.button.yellow button, .button.yellow a[data-type="button"] {
    background-color: #FFB800;
}

.button.disable .low-layer {
    background-color: #CECBC6;
}

.button.disable button, .button.disable a[data-type="button"] {
    background-color: #E7E4DF;
    color: #848484;
}

.button a[data-type="button"] {
    text-decoration: none;
    line-height: 37px;
    cursor: pointer;
}

#signup-button {
    width: 176px;
}

#login-button {
    width: 140px;
    margin-top: 9px;
}

#personal {
    width: 250px;
    margin: 43px 0 0 0;
}

#personal.non-authorized {
    text-align: center;
}

#personal .welcome {
    margin-bottom: 11px;
}

#personal.authorized {
    margin-top: 62px;
    padding-left: 30px;
}

#personal.authorized menu li:first-child {
    padding-bottom: 4px;
}

#personal.authorized menu li:first-child a {
    font-family: RobotoMedium, sans-serif;
}

#logout {
    margin: 2px 0 0 5px;
}

#main-help {
    position: absolute;
    top: 20px;
    right: 0;
}

#dark-bg {
    position: absolute;
    bottom: 0;
    height: 22px;
    width: 100%;
    background: #898781;
}

.dashed {
    position: relative;
    border-bottom: dashed #EFEBE3 2px;
}

.dashed.scissor-right::after {
    content: '';
    position: absolute;
    top: -11px;
    right: -12px;
    width: 23px;
    height: 24px;
    background: url('../img/scissor.png') no-repeat -23px;
}

.dashed.scissor-left::before {
    content: '';
    position: absolute;
    top: -11px;
    left: -12px;
    width: 23px;
    height: 24px;
    background: url('../img/scissor.png') no-repeat;
}

#left-background {
    position: absolute;
    width: 151px;
    height: 100%;
    left: -220px;
    background: url('../img/left-bg-spiral.png') repeat-y 0 20px;
}

#right-background {
    position: absolute;
    width: 152px;
    height: 100%;
    right: -220px;
    background: url('../img/right-bg-spiral.png') repeat-y 0 155px;
}

footer .footer-col {
    display: inline-block;
    color: #FFFFFF;
    vertical-align: top;
}

#footer-content {
    position: relative;
    width: 960px;
    margin: auto;
}

#mini-logo {
    position: relative;
    top: -5px;
    width: 106px;
    height: 90px;
    background: url('../img/logo-mini-substrate.png') no-repeat;
}

#mini-logo h6 {
    padding-top: 12px;
    font-family: Intro_Regular, sans-serif;
    font-size: 22px;
    color: #FFB800;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/logo-mini-dashed-line.png') center 39px no-repeat;
}

#mini-logo h6 span {
    font-family: pf_din_text_comp_proRegular, sans-serif;
    color: #322E25;
    letter-spacing: 5px;
    padding-left: 5px;
}

footer .footer-col.description {
    width: 215px;
    margin: 10px 0 0 15px;
}

footer .footer-col.description span:first-child {
    font-family: pt_serifItalic, sans-serif;
    font-size: 15px;
}

footer .footer-col.description span:last-child {
    line-height: 28px;
}

footer .footer-col.menu {
    margin: 20px 0 0 30px;
}

footer .footer-col.menu li {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
}

footer .contacts {
    position: absolute;
    right: 0;
    top: 0;
    width: 168px;
}

footer .social {
    margin-top: 18px;
}

footer .social .icon {
    height: 16px;
    border-radius: 0;
}

footer .social .icon.vk {
    width: 13px;
    background: url("../img/icon-social.png") no-repeat -8px 0;
}

footer .feedback {
    margin-top: 22px;
}

#footer-help {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 0;
    border: solid #FFFFFF 2px;
    background: transparent;
    line-height: 26px;
    font-size: 24px;
}

main.float {
    float: left;
    width: 700px;
}

aside.float {
    float: left;
    width: 220px;
}

main.float.right, aside.float.right {
    margin-left: 40px;
}

.bold-underline {
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 3px;
    vertical-align: top;
}

.atelier .bold-underline {border-bottom-color: #FFB800;}
.store .bold-underline {border-bottom-color: #FF7F66;}
.user .bold-underline {border-bottom-color: #9FD245;}

h3 {
    font-family: RobotoMedium, sans-serif;
    font-size: 26px;
}

h5 {
    font-family: RobotoMedium, sans-serif;
}

/* Блок "О сайте" который только на главной */
#about-site section {
    display: inline-block;
    width: 392px;
    height: 216px;
    margin: 10px 0;
    text-align: center;
    color: #322D25;
}

#about-site section:first-child {
    border-right: dashed #EFEBE3 2px;
}

#about-site section:nth-child(2) {
    width: 172px;
    border-right: dashed #EFEBE3 2px;
}

#about-site h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 4px;
}

#about-site figure {
    display: inline-block;
    width: 125px;
    margin-top: 20px;
    text-align: center;
    vertical-align: top;
}

#about-site figure > div {
    display: inline-block;
    width: 84px;
    height: 84px;
    border: solid #D5BCAE 2px;
    border-radius: 50%;
}

#about-site figure > div >div {
    height: 63px;
    width: 47px;
    margin: auto;
    background: url('../img/main-page-icons.png');
    margin-top: 7px;
}

#about-site .main-icon-good {width: 45px; background-position: -47px}
#about-site .main-icon-search {width: 50px; background-position: -91px; margin-top: 8px}
#about-site .main-icon-material {width: 71px; background-position: -141px; margin-top: 10px}
#about-site .main-icon-scissor {width: 58px; background-position: -212px; margin-top: 8px}
#about-site .main-icon-meter {width: 60px; background-position: -271px; margin-top: 11px}
#about-site .main-icon-face {width: 56px; background-position: -331px; margin-top: 8px}
/* <Конец> Блок "О сайте" который только на главной */

.clear {
    clear: both;
}

/* Хлебные крошки */
ul.breadcrumb {
    background-color: transparent;
    color: #444444;
}
ul.breadcrumb a {
    font-size: 14px;
}
/* <Конец> Хлебные крошки */

/*  Формы и оформление */
.panel {
    position: relative;
    background-color: #FAF3EB;
    border: solid #CFBAAD 1px;
    border-radius: 15px;
    padding: 10px 0;
    width: 450px;
}

.panel.big-panel {
    width: 794px;
    margin: 0 auto 40px;
}

.panel.small-panel {
    height: 142px;
    width: 165px;
}

.panel.width-panel {
    width: 100%;
}

.panel.small-panel div {
    text-align: center;
}

.panel.small-panel .panel-body {
    padding: 0;
}

.panel.small-panel .panel-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.panel .panel-header,
/*.panel .panel-body,*/
.panel .panel-footer {
    background-color: #FAF3EB;
}
.panel .panel-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
.panel .panel-footer {
    /*height: 60px;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: none;
    text-align: center;
    padding: 0;
}

.panel .panel-header h2,
.panel .panel-header h3 {
    display: inline-block;
    vertical-align: middle;
}

.panel .panel-header .icon-circle {
    margin-right: 10px;
}

.panel .panel-header::after {
    display: block;
    content: '';
    height: 1px;
    background-color: #CFBAAD;
    margin: 22px 14px 0 14px;
}

.panel .panel-footer::before {
    display: block;
    content: '';
    height: 1px;
    background-color: #CFBAAD;
    margin: 0 14px;
}

.panel .left-col,
.panel .right-col {
    display: inline-block;
    vertical-align: top;
    height: 38px;
    line-height: 38px;
}

.panel .center-col,
.panel .form-group {
    display: inline-block;
    vertical-align: top;
}

.panel .center-col {
    position: relative;
    width: 300px;
}

.panel .left-col {
    margin-right: 15px;
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
}

.panel li.heighCol > div,
.panel li.heighCol .left-col,
.panel li.heighCol .center-col {
    height: auto;
    line-height: normal;
}

.panel label {
    font-weight: normal;
}

.panel .center-col .help-block {
    /*position: absolute;*/
    /*width: 210px;*/
    /*background-color: #FF7F66;*/
    /*padding: 10px 12px;*/
    display: none;
    /*left: 315px;*/
    /*bottom: 0;*/
    /*color: #FFFFFF;*/
    /*margin: 0;*/
    /*border: solid #E5725C 1px;*/
    font-size: 15px;
}

.panel .right-col {
    color: #7E827A;
    font-size: 15px;
    padding-left: 24px;
}

/*.panel .has-error .center-col:after {*/
    /*content: '';*/
    /*height: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 300px;*/
    /*margin: auto;*/
    /*border-top: solid transparent 5px;*/
    /*border-bottom: solid transparent 5px;*/
    /*border-left: solid transparent 8px;*/
    /*border-right: solid #FF7F66 8px;*/
/*}*/

.panel .has-error .center-col .help-block {
    display: block;
}

.panel .error-summary {
    font-size: 15px;
    color: #E96C53;
    margin-bottom: 10px;
}

.panel .error-summary li {
    width: 300px;
    margin: auto;
}

.panel .captcha-line,
.panel .captcha-line .left-col,
.panel .captcha-line .center-col,
.panel .captcha-line .right-col {
    height: 62px;
    line-height: 62px;
    vertical-align: middle;
}

.panel .captcha-line .right-col {
    padding-left: 15px;
}
.panel .captcha-line .right-col span:first-child {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}
.panel .captcha-line .right-col span:last-child {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    padding-left: 10px;
}

.panel .captcha-line input {
    display: inline-block;
    width: 155px;
}

.panel .captcha-line img {
    display: inline-block;
    border: solid #CFBAAD 1px;
    margin-left: 13px;
}

.panel .captcha-line .center-col .help-block {
    top: 0;
}

.has-error .form-control,
.has-error .form-control:focus,
.has-error .form-control:hover
{
    border-color: #FF7F66;
}
.has-error .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba(219, 143, 123, 0.82);
}

.has-success .form-control,
.has-success .form-control:focus,
.has-success .form-control:hover
{
    border-color: #9FD246;
}

.has-error .control-label,
.has-success .control-label {
    color: #444444;
}

textarea {
    border: solid #DFC8BB 1px !important;
    border-radius: 0 !important;
    min-height: 90px !important;
}
/* <Конец> Формы и оформление */

/* Флажки */
.flag-link {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 0 15px;
    background: #FFB800;
    vertical-align: middle;
}

.flag-link a {
    font-size: 16px;
}

.flag-link::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-top: solid #FFB800 8px;
    border-bottom: solid transparent 8px;
    border-left: solid #FFB800 5px;
    border-right: solid transparent 5px;
}

.flag-link::after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    border-top: solid transparent 8px;
    border-bottom: solid #FFB800 8px;
    border-left: solid #FFB800 5px;
    border-right: solid transparent 5px;
}

.flag-link + div {
    margin-top: 32px;
}
/* <Конец> Флажки */

/* Различные виджеты */
.widget.news h3 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.widget.news li {
    margin-top: 15px;
}
/* <Конец> Различные виджеты */

/* Оформление чекбоксов */
input[type=checkbox] {display: none;}

input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    border: 1px solid #DFC8BB;
    font-size: 11px;
    line-height: 15px;
    margin: 0 5px 4px 0;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
}

input[type=checkbox]:checked + label:before {
    content: '✔';
}
/* <Конец> Оформление чекбоксов */

/* Оформление радиобаттонов */
input[type=radio] {display: none;}

input[type=radio] + label {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

input[type=radio] + label:before {
    content: '';
    position: absolute;
    left: -23px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #DFC8BB;
    border-radius: 50%;
    background-color: #FFFFFF;
}

input[type=radio] + label:after {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: #000000;
    transition: ease .2s;
}

input[type=radio]:checked + label:after {
    height: 6px;
    width: 6px;
    left: -19px;
}
/* <Конец> Оформление радиобаттонов */

/* Оформление выпадающего списка (<select>) */
.select {
    position: relative;
    display: inline-block;
}
.select .select-button {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 36px;
    height: 36px;
    background-color: #FFFFFF;
}
.select .select-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 1px;
    height: 30px;
    background-color: #DFC8BB;
}
.select .select-button .caret {
    margin: 15px 0 0 14px;
}
.select .select-button:hover {
    cursor: pointer;
}
.select .select-button:hover .caret {
    border-top-color: #444444;
}

.select .ui-selectmenu-text {
    background-color: #FFFFFF;
    height: 36px;
    padding-right: 50px !important;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: #322c25;
    line-height: 36px;
}
.ui-selectmenu-button {
    border-radius: 0 !important;
    border-color: #DFC8BB !important;
}

li.ui-menu-item.ui-state-focus {
    background-color: #CFBAAD;
    color: #FFFFFF;
    background-image: none;
    border: none;
}
ul.ui-menu {
    border: solid #CFBAAD 1px;
    border-radius: 0;
    max-height: 211px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* <Конец> Оформление выпадающего списка (<select>) */

/* Оформление фотографии и подписи студии/пользователя */
.person-info {
    position: relative;
}

.person-info img {
    border: solid #CFBAAD 1px;
    margin-bottom: 9px;
}

.person-info > div {
    padding: 10px 0 20px 0;
    background: #DDCCC1 url('../img/nav-bg.png');
}

.person-info .name {
    display: inline-block;
    vertical-align: middle;
    width: 154px;
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
}

.person-info .icon-circle {
    margin: 0 10px 0 18px;
    cursor: help;
}

.person-info .city {
    text-align: center;
    font-family: pt_serifItalic, serif;
    font-size: 13px;
}

.person-info > div::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid #FDF8F0 55px;
    border-right: solid transparent 55px;
}

.person-info > div::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid transparent 55px;
    border-right: solid #FDF8F0 55px;
}
/* <Конец> Оформление фотографии и подписи студии/пользователя */

/* Оформление больших цифр репутации */
.rating-block {
    display: inline-block;
    width: 74px;
    text-align: center;
}

.rating-block span:last-child {
    font-family: RobotoBlack, sans-serif;
    font-size: 18px;
    color: #797979;
}

.rating-block .line {
    box-sizing: content-box;
    height: 1px;
    border-style: solid;
    border-width: 2px;
}

.rating-block .line > div {
    height: 1px;
}
/* <Конец> Оформление больших цифр репутации */

/* Оформление кнопки минуса */
button.deleteButton,
button.minusButton {
    position: relative;
    border: 0;
    padding: 0;
    width: 26px;
    height: 10px;
    background-color: transparent;
    margin: 14px 6px;
}
/* <Конец> Оформление кнопки минуса */

/* Оформление кнопки добавления поля */
button.addButton {
    position: relative;
    width: 38px;
    height: 38px;
    background-color: #FFFFFF;
    border: solid #DFC8BB 1px;
}
button.plusButton {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 4px;
    border: none;
    background: none;
}
button.addButton:before,
button.deleteButton:before,
button.minusButton:before,
button.plusButton:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 22px;
    height: 4px;
    background-color: #95938D;
}
button.addButton:after,
button.plusButton:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 4px;
    height: 22px;
    background-color: #95938D;
}
button.deleteButton:hover:before,
button.minusButton:hover:before,
button.plusButton:hover:before,
button.plusButton:hover:after,
button.addButton:hover:before,
button.addButton:hover:after {
    background-color: #797979;
}
/* <Конец> Оформление кнопки добавления поля */

/* Оформление статусов заказов */
.order-status {
    width: 150px;
}
.order-status span {
    display: inline-block;
    width: 128px;
    margin-left: 8px;
    vertical-align: top;
    font-family: pt_serifItalic, sans-serif;
    font-size: 15px;
}
.order-status:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #CCCCCC;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 2px;
}

.order-status.wait:before {
    background-color: #FF7F66;
}

.order-status.adopted-wait-paiment:before,
.order-status.ready-wait-paiment:before {
    background-color: #ec89e7;
}

.order-status.in-work:before {
    background-color: #FFB800;
}

.order-status.completed-with:before {
    background-color: #43A3FF;
}

.order-status.shipped:before {
    background-color: #9FD245;
}

.order-status.complited:before,
.order-status.rejected:before,
.order-status.withdrawn:before {
    background-color: #CFBAAD;
}
/* <Конец> Оформление статусов заказов */

/* Товары плиткой */
.good-tile {
    padding-left: 10px;
    text-align: justify;

    line-height: 0; /* если не сделать, то псевдоэлемент даст высоту приличную */
    font-size: 1px; /* 1px для Opera */
}

/* justify невыравнивает последнюю строку, поэтому добавим в конец псевдоэлемент */
.good-tile:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}

.good-tile .good-instance {
    display: inline-block;
    width: 190px;
    height: 370px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 45px;
    font-size: 14px; /* Вернём стандартный размер шрифта*/
}

.good-tile.without-studio .good-instance {
    height: 330px;
}

.good-tile .good-instance:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.good-tile .good-instance img {
    border: solid #CFBAAD 1px;
}

.good-tile .good-instance figcaption {
    padding: 5px 5px 0 5px;
    min-height: 70px;
}

.good-tile .good-instance .good-studio > div {
    display: inline-block;
    margin: 0 4px 0 5px;
    height: 40px;
    vertical-align: middle;
}

.good-tile .good-instance .good-studio .icon-circle {
    margin-top: 8px;
}

.good-tile .good-instance .good-studio span {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}

.good-tile .good-instance .price {
    position: relative;
    height: 66px;
    background: #A6D251 url('../img/diagonal-bg.png');
    text-align: center;
    margin-top: 5px;
    padding: 5px 0 0 16px;
    color: #FFFFFF;
}

.good-tile .good-instance .price::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid #FDF8F0 48px;
    border-right: solid transparent 48px;
}

.good-tile .good-instance .price::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: solid transparent 10px;
    border-bottom: solid #FDF8F0 10px;
    border-left: solid transparent 48px;
    border-right: solid #FDF8F0 48px;
}

.good-tile .good-instance .price span:first-child {
    font-family: RobotoBlack, sans-serif;
    font-size: 32px;
}

.good-tile .good-instance .price span:last-child {
    font-family: RobotoMedium, sans-serif;
}
/* <Конец> Товары плиткой */

/* окно подтверждения */
.confirm-message {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.confirm-message.panel .panel-body {
    padding: 5px 20px 15px;
}

.confirm-message .panel-footer span {
    margin: 5px 15px 0;
}

.confirm-message p {
    display: inline-block;
    width: 330px;
    margin-left: 10px;
}

.confirm-message .little-help {
    vertical-align: top;
    margin-top: 2px;
}
/* <Конец> окно подтверждения */

/* Уведомления */
.alert {
    border-width: 1px;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

.alert.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert.warning {
    color: #8a6d3b;
    background-color: #fcf7db;
    border-color: #e5d6ba;
}

.alert.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/* <Конец> Уведомления */

/* Прелоадер */
.preloader {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    background: inherit;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.preloader-inner {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid #C5AFA4;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-animation: opas 1.3s ease-in-out infinite;
    animation: opas 1.3s ease-in-out infinite;
}
.preloader .line {
    position: absolute;
    width: 2px;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    background: #FDF8F0;
    z-index: 1;
}

@-webkit-keyframes opas {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opas {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
/* <Конец> Прелоадер */

/* Кнопка "Показать еще" */
#show-more {
    text-align: center;
    margin-top: 25px;
}

#show-more-button {
    display: inline-block;
    cursor: pointer;
}

#show-more-button:hover {
    color: #FF7F66;
}

#show-more-button span {
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoLight, sans-serif;
    font-size: 24px;
}

#show-more-button .plus-button {
    position: relative;
    width: 36px;
    height: 36px;
    background: #DFC8BB;
    border-radius: 50%;
    margin-right: 5px;
}

#show-more-button .plus-button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 26px;
    height: 2px;
    background: #FDF8F0;
}

#show-more-button .plus-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 26px;
    background: #FDF8F0;
}
/* <Конец> Кнопка "Показать еще" */